/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:center;
	align-items:center;
}
.content{
	text-align:center;
	
}
.img{
	width:600px;
	height:300px;
	object-fit:cover;
}
.button{
	padding:20px;
	background-color:red;
	color:white;
	border:0px;
	border-radius:20px;
	
}